/*
Theme Name: Tenarian
Template URI : http://7infomedia.blogspot.com/
Description: Templat Wordpress responsif menggunakan framework HTML5 BLANK (http://html5blank.com), Twitter Bootstrap 3 (http://getbootstrap.com/), serta icon dari Font Awesome (http://fortawesome.github.io/Font-Awesome/icons/).
Version: 2.0
Author: Joe Alfaraby (fildrand@gmail.com) 
Author URI: http://7infomedia.blogspot.com/
Tags: Blank, HTML5, CSS3, Bootsrap, font-awesome
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,500);

/* global box-sizing */
*,
*:after,
*:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}
.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
html{
	background:#eee url(img/grid.png)left top;
}
body{ 
	background-color:transparent;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	margin:0;
	padding:0;
}
h1{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
p{}
a {
	color:#1982D1;
	text-decoration:none;
}
a:hover,
a:focus,
a:active{
	color:#888;
	text-decoration:none;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	/* border:1px solid #DA6D0D; */
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
.wraper{
	background-color:#fff;
	box-shadow: 0 5px 5px rgba(140, 140, 140, 0.75);
	max-width:1100px;
	margin:0 auto;
	overflow:hidden;
}
.container{
   max-width: 1100px;
}
.container .col-md-8 .container{
   padding-left: 0;
   padding-right: 0;
}
.branding{
	margin-bottom:20px;
	position:relative;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color:#1D5278;
}
.hero {
	/* background-color: #CDF2F2; */
	overflow:hidden;
        background:url(img/hero-bg.jpg) left top repeat-x;
	position:relative;
	min-height:120px;
}
.main{}

@media only screen and (min-width:240px) {
	.container{
		padding-right:0;
		padding-left:0;	
	}
	.page > .container{
		padding-right:15px;
		padding-left:15px;
	}
	.top-nav-wrap{
		font-size:1em;
		margin-top:200px;
		overflow:hidden;
		padding: 0 15px;
		width:100%;
	}
	.navbar,
	.hero{
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
	.hero{
		top:40px;
	}
	.hero img{
		margin: 30px auto 0;
		padding-right:15px;
		padding-left:15px;
		width:100%;
	}
	.searchform{
		margin:10px auto 20px;
		padding-right:15px;
		padding-left:15px;
		width:100%;
	}
	.navbar-toggle{
		border-radius:0;
		margin-right:5px;
	}
	.navbar-default .navbar-toggle{
		border-color:transparent;
	}
	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		border-color: transparent;
	}
	.navbar-collapse{
		box-shadow:;
		padding-left:15px;
	}
	.navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.navbar-default .navbar-nav > li:last-child > a {
		border-bottom: none;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #22608D;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
		background-color:#1D5278;
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color: #D3E6F4;
		color: #333;
	}
	.carousel .item{
		height: 140px;
	}
	.carousel-indicators {
		bottom:15px;
	}
	.tinynav {
		background-color:#eee;
		border:transparent;
		display: block;
		font-size: 1.2em;
		margin: 0 auto 20px;
		padding: 5px 0.5em;
		width: 100%;
	}
	#menu-menu-atas {
		display: none;
	}
	.cp-wrap{
		border-bottom: 1px solid #EEEEEE;
		margin:0 auto 10px;
		padding:0;
		overflow:hidden;
		width:100%;
	}
	.cp-wrap li {
    	display: block;
    	padding-bottom: 10px;
		text-align: center;
		width: 100%;
	}
	.social-buttons{
		display:inline-block;
		text-align:center;
		overflow: hidden;
		width:100%;
	}
	.social-buttons li{
		float: left;
		font-size:20px;
		left: -50%;
		position: relative;
		padding: 0;
		margin: 0;
	}
	.social-buttons ul{
		list-style: none;
		padding: 0;
		margin: 0;
		float: left;
		left: 50%;
		position: relative;
		text-align: center;
	}
	.double .container .col-md-6{
		display:block;
		float:none;
		padding-right:0;
		padding-left:0;
		width:100% !important;
	}
	.double .container .col-md-6 .content img{
		max-width:90%
	}
	.double{
		margin: 0 auto 30px auto
	}
	#double-1,
	#double-2{
		width:100%;
	}
	.triple{
		margin: 0 auto 30px auto
	}
	#triple-1,
	#triple-2,
	#triple-3{
		width:100%;
	}
	.testimony{
		margin-top:50px;
	}
	.triple img{
		margin-bottom:6px;
	}
	.testimony img{
		float:left;
		margin:5px 10px 0 0;
	}
	.testimony p{
		margin:20px 0 0;
	}
	p#breadcrumbs{
		font-size: 0.9em;
		margin: 0;
		padding:8px 15px;
	}
	.berita-foto-page .gallery dl.gallery-item {
		margin-bottom: 0;
		padding-bottom: 10px;
		width:50% !important;
	}
	.berita-foto-page .gallery dl.gallery-item dt img{
		height: auto !important
	}
}
@media only screen and (min-width:320px) {	
	.top-nav-wrap{
		margin-top:220px;
	}
	.carousel .item{
		height: 160px;
	}
	.carousel-indicators {
		bottom:10px;
	}
	.double .container .col-md-6{
		float:left;
		padding-right:0;
		padding-left:0;
		width:50%;
	}
	.double .col-md-6.col-1 {
		padding-right: 2%;
	}
	.double .col-md-6.col-2 {
		padding-left: 2%;
	}
	.double{
		min-height:80px;
		margin: 0 auto 20px auto
	}
	#double-1,
	#double-2{
		width:100%;
	}
	#double-2{
		margin-bottom: 50px
	}
	#double-1 img,
	#double-2 img{
		float:left;
		margin: 5px 10px 0 0;
		width:120px;
	}
	.triple{
		margin: 0 auto 20px auto;
		min-height:80px;
	}
	#triple-3{
		margin-bottom: 50px
	}
	#triple-1 img,
	#triple-2 img,
	#triple-3 img{
		float:left;
		margin: 5px 10px 5px 0;
		width: 120px;
	}
}
@media only screen and (min-width:480px) {
	.top-nav-wrap{
		margin-top:260px;
	}
	.hero img{
		padding-right:50px;
		padding-left:50px;
	}
	.carousel .item{
		height: 220px;
	}
	.double{
		min-height:100px;
	}
	#double-1 img,
	#double-2 img{
		width:150px;
	}
	.triple{
		min-height:100px;
	}
	#triple-1 img,
	#triple-2 img,
	#triple-3 img{
		width: 150px;
	}
	.berita-foto-page .gallery dl.gallery-item {
		width:25% !important;
	}
}
@media only screen and (min-width:640px) {
	.hero img{
		padding-right:90px;
		padding-left:90px;
	}
	.carousel .item{
		height: 250px;
	}
	.carousel-indicators {
		bottom:5px;
	}
	.double{
		min-height:120px;
	}
	#double-1 img,
	#double-2 img{
		width: 200px;
	}
	.triple{
		min-height:120px;
	}
	#triple-1 img,
	#triple-2 img,
	#triple-3 img{
		width: 200px;
	}
	
}
@media only screen and (min-width:768px) {
	.branding .container .col-md-8,
	.branding .container .col-md-4{
		padding-right:0;
		padding-left:0;
	}
	.top-nav-wrap{
		float:right;
		font-size:.9em;
		overflow:hidden;
		margin:10px 0;
		padding: 0;
		width:100%;
	}
	.cp-wrap{
		border-bottom: none;
		float:left;
		margin:0 0 10px;
		padding:0;
		overflow:hidden;
		width:auto;
	}
	.cp-wrap li {
    	display: inline-block;
		float:left;
    	padding-bottom: 0;
		padding-right:20px;
		text-align: left;
		width: auto;
	}
	.social-buttons{
		display:inline-block;
		float:right;
		margin: 0 0 10px;
		text-align:right;
		overflow: hidden;
		width:200px;
	}
	.social-buttons li{
		right: left;
		font-size:14px;
		left: 0;
		position: relative;
		padding: 0;
		margin: 0;
	}
	.social-buttons ul{
		list-style: none;
		padding: 0;
		margin: 0;
		float: right;
		left: 0;
		position: block;
		text-align: left;
	}
	.tinynav{
		display: none;
	}
	#menu-menu-atas {
		display: block;
		float:right;
	}
	.navbar-collapse{
		padding-left:0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #444;
		font-weight: 300;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
		background-color:#4396D2;
		color: #fff;
	}
	.navbar,
	.hero{
		position:relative;
		top:0;
		left:0;
		width:100%;
	}
	.hero{
		top:0
	}
	.hero img{
		display:inline-block;
		float:left;
		margin-bottom:24px;
		padding-right:0;
		padding-left:20px;
		width: 400px;
	}
	.searchform{
		float:right;
		margin: 50px 0 0 0;
		padding-right:25px;
		padding-left:15px;
		width:260px;
	}
	.container{
		padding-right:0px;
		padding-left:0px;	
	}
	.branding{
		margin-right:15px;
		margin-left:15px;
	}
	.carousel .item{
		height: 320px;
	}
	.carousel-indicators {
		bottom:5px;
	}
	.double{
		min-height:120px;
	}
	#double-1,
	#double-2{
		float:left;
		margin-right: 2%;
		width: 48%;
	}
	#double-2{
		float:right;
		margin-right: 0;
		margin-left: 2%;
	}
	#double-1 img,
	#double-2 img{
		float:left;
		margin: 0;
		width: 100%;
	}
	.triple{
		min-height:120px;
	}
	#triple-1,
	#triple-2,
	#triple-3{
		float:left;
		margin-right: 2%;
		width: 32%;
	}
	#triple-3{
		float:right;
		margin-right: 0;
	}
	#triple-1 img,
	#triple-2 img,
	#triple-3 img{
		float:left;
		margin: 0 0 5px 0;
		width: 100%;
	}
	p#breadcrumbs {
		padding: 8px 0;
	}
}

@media only screen and (min-width:1024px) {
	.hero img{
		display:inline !important;
		margin:10px 0 10px -5px !important;
		width:582px !important;
	}
	.searchform{
		margin: 60px 0 0 0;
	}
	.testimony{
		margin-top:0;
	}
}
@media only screen and (min-width:960px) {
}
@media only screen and (min-width:1200px) {
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {
}
/*----- CAROUSEL -----*/	
.carousel {
  margin-bottom: 20px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
.hero h1 a{
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	transition: all 0.15s ease-in 0.15s;
}
.hero h1 a:hover,
.hero h1 a:focus{
	color:#FFEF77;
}
footer{
	border-top: 1px solid #e5e5e5;
	color: #888;
	margin: 30px 15px 0;
	overflow:hidden;
	padding: 20px 0;
	position:relative;
}
.container > footer .container{
	padding-right:0;
	padding-left:0;
}
footer p{
	font-size:.9em;
	margin:10px 0 0;
	padding:0;
}
footer p:last-child{
	margin:0;
}
footer img{
	float: right;
	width: 280px;
}
footer a{
font-size:.9em;
font-weight:500;
	filter: alpha(opacity=80);
	opacity: 0.8;
	transition: all 0.15s ease-in 0.15s;
	zoom: 1;
}
footer a:hover,
footer a:hover,
footer a:active{
	filter: alpha(opacity=100);
	opacity: 1;
}
.footer .container .col-md-6{
	padding-right:0;
	padding-left:0;
}
.footer p span{
	font-weight:700
}
.top-nav,
.footer-nav{
	margin:0;
	padding:0;
}
.top-nav li,
.footer-nav li{
   display: inline-block;
   float: left;
	font-size:1em;
   padding: 5px 0 5px 20px;
}
.top-nav li a{
	color: #888;
}
.top-nav li a:hover,
.top-nav li a:focus{
	color: #444;
}
.footer-nav li{
   padding: 5px 20px 5px 0;
}
.cp-wrap li span{
	color:#333;
	font-weight: 500
}
.social-buttons li a{
	color:#666;
	filter: alpha(opacity=50);
	opacity: 0.5;
	transition: all 0.15s ease-in 0.15s;
	zoom: 1;
}
.social-buttons li a:hover,
.social-buttons li a:focus{
	filter: alpha(opacity=100);
	opacity: 1;
}
.social-buttons li.facebook a:hover,
.social-buttons li.facebook a:focus{
	color:#4C70BA;
}
.social-buttons li.gplus a:hover,
.social-buttons li.gplus a:focus{
	color:#C0181D;
}
.social-buttons li.twitter a:hover,
.social-buttons li.twitter a:focus{
	color:#55ACEE;
}
.social-buttons li.flickr a:hover,
.social-buttons li.flickr a:focus{
	color:#F46C91;
}
.social-buttons li.rss a:hover{
	color:#F2AE31;
}
.navbar{
	border:none;
	border-radius:0;
	margin-bottom:0;
	min-height:40px;
}
.navbar-default {
   background-color: #276EA2;
	border-width:0;
}
.navbar-collapse{
}
.navbar-nav > li > a {
	color:#ADB7D0;
   padding: 10px 15px;
}
.navbar-default .navbar-nav > li > a {
   color: #fff;
}
.navbar-default .navbar-nav > li a:hover, 
.navbar-default .navbar-nav >  li a:focus {
   background-color: #4396D2;
   color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
   background-color: #F4B627;
   color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
   border-bottom-color: #ADB7D0;
   border-top-color: #ADB7D0;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
   background-color: #4396D2;
   color: #FFFFFF;
}
.dropdown-menu{
	border:none;
	border-radius:0;
	padding-top:15px;
	padding-bottom:15px;
}
.dropdown-menu > li > a {
   color: #333333;
   font-weight: 300;
   padding: 5px 20px;
}
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
   background-color: #D3E6F4;
	color:#444;
}

/* Header untuk halaman selain frontpage */
.tag-title {
	font-weight: 500;
font-size: 1.2em;
}
.post-tags {
    font-size: 85%;
    line-height: 2.4;
}
.post-tags a {
    background-color: #aaa;
    border-radius: 3px;
    color: #fff;
    padding: 2px 6px;
}
.post-tags a:hover{
background-color:#888
}

.title-archive {
   font-size: 0.9em;
   text-transform: capitalize;
}

.post-categories {
   list-style-type: none;
   margin: 10px 0 0;
   padding: 0;
}
.post-categories > li {
   float: left;
   font-size: 0.4em;
   font-weight: lighter;
   letter-spacing: 0;
	line-height:1.6;
   padding: 6px 0;
}
.post-categories > li a{
   background-color: #FDAC04;
	color:#fff;
   padding: 7px 15px;
}
.post-categories > li a:hover,
.post-categories > li a:focus,
.post-categories > li a:active{
   background-color: #E69C02;
	color:#fff;
}
.breadcrumb{
	background-color: #f7f7f7;
	border-radius:0;
	/* border-top: 1px solid #eee; */
	/* border-bottom: 1px solid #eee; */
	color:#777;
	margin:20px 15px 30px;
	padding:0;
}
.fluid-wrapper {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
   height: 0;
}
.fluid-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: none;
}
.video-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px; height: 0; overflow: hidden;
} 
.video-container iframe,
.video-container object,
.video-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/*------------------------------------*\
   MISC
\*------------------------------------*/

::selection {
	background:#BAE6ED;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#BAE6ED;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#BAE6ED;
	color:#FFF;
	text-shadow:none;
}
   
/*------------------------------------*\
   WORDPRESS CORE
\*------------------------------------*/
.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.size-large {
max-width: 100%;
width: 400px;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}

/* FONT AWESOME CUSTOM COLOR */
.red{
	color: #D73820;
}
.deep-red{
	color: #C0181D;
}
.pink{
	color: #FB455D;
}
.blue{
	color: #3B5998;
}
.light-blue{
	color: #55ACEE;
}
.orange{
	color: #F2AE31;
}
.green{
	color: #5CB85C;
}
.grey{
	color:#888
}

/* SEARCHFORM */
input.input-search {
	background: #fff;
	border: transparent;
	border-radius: 20px;
	-moz-border-radius: 20px;
	color:#999;
	font-size: 14px;
	font-weight:300;
	line-height: 1.2em;
	padding: 6px;
}
.submit-search {
	background-color:transparent;
	border: transparent;
	padding:5px 5px 5px 10px;
}
.hero .searchform {
	/* margin:42px 20px 20px 0; */
}
.hero .searchform form {
	border-radius: 20px;
	-moz-border-radius: 20px;
	background-color:#fff;
	overflow:hidden;
	padding:0;
}
.hero .input-search {
	/* float: right; */
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
}

/*----- TOMBOL MENU COLLAPASE -----*/
.navbar-default .navbar-toggle .icon-bar {
   background-color: #FFFFFF;
}
.navbar-toggle .icon-bar {
   border-radius: 0;
   display: block;
   height: 3px;
   width: 25px;
}

/*----- MISC -----*/
#top-link{
	display:none; 
	position:fixed; 
	right:5px; 
	bottom:5px; 
	background-color: #666;
	color:#ccc;
	padding: 4px 8px;
}
.top-link:hover{
	background-color: #222;
	color:#fff;
}

/* WIDGET */
.sidebar-widget div{
	margin-bottom:20px
}
.sidebar-widget h3 {
    color: #444444;
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 0 10px;
}
.sidebar-widget ul,
.sidebar-widget ol{
	list-style-type:none;
	margin:0;
	padding:0;
}
.panel,
.panel-heading{
	border-radius:0;
}
.panel-default .panel-heading h3,
.panel-primary .panel-heading h3 {
   color: #fff;
   font-size: 1.3em;
   font-weight: 400;
   margin: 0;
}
.panel-default .panel-heading h3{
	color:#444
}
.panel-heading h3 a{
   color: #fff;
}
.panel-heading h3 a:hover,
.panel-heading h3 a:focus,
.panel-heading h3 a:active{
   color: #A6C8E6;
}
.panel-body h4{font-weight:500;margin: 10px 0 15px 0}
/* BERITA FOTO */
.btn{
	font-weight:300
}
.btn-primary{
	/* background-color:#428BCA; */
	/* border-color:#428BCA; */
}
.btn-warning{
	background-color:#F18100;
	border-color:#F18100;
}
.btn-default{
	border-color:transparent;
	color:#444;
}
.btn-default:hover,
.btn-default:focus{
	background-color:#fff;
	border-color:transparent;
	color:#000;
}
.btn-square{
	border-radius:0
}

/*----- POST STYLE ------*/
.block-title{
	color:#444;
	font-size:1.5em;
	font-weight:500;
   margin: 0 0 10px;
}
/*heading untuk halaman kategori, arsip, tag, dan hasil pencarian */
article h3 {
   font-size: 1.3em;
   margin: 20px 0 5px;
}
article p{
	line-height:1.6
}
article.type-page p{font-size: 1.2em;}
.archive-title{}
.content{
	margin:0 0 30px;
}
.entry-header > h3 {
   font-size: 1.5em;
   margin: 0;
}
.testimony .entry-header{
font-size:.9em;
font-weight:500;
}
.entry-header-list{
	margin:30px 0 0
}
.entry-header-page{
	margin:0 0 30px
}
.entry-content{
	margin: 10px 0 30px;
}
.entry-content-single{
	margin: 30px 0;
}
.entry-content-single p{
font-size:1.15em;
line-height:1.6;
}
.entry-footer{
	float: left;
   margin: 20px 0 0;
   width: 100%;
}
.entry-date,
.entry-author{
	color:#999;
	font-size: .9em;
	margin: 10px 0 0;
}
.entry-title{
	font-size:1.2em;
	font-weight:700
}
.triple .entry-title{
   font-size: 0.9em;
   font-weight: 500;
}
.testimony .entry-title{
font-size:1.1em
}
.readmore {
	font-weight: 300;
}

/*----- TESTIMONI ALUMNI -----*/
.testimony {
	/* background-color:#f9f9f9; */
	color: #555;
font-size:.95em;
	line-height:1.5;
   margin-bottom: 30px;
	overflow:hidden;
	padding-bottom:10px;
	border-bottom: 1px solid #eee;
}
.testimony h3 {
	border-bottom: 1px solid #eee;
	color:#444;
   font-size: 1.5em;
   font-weight: 500;
   margin: 0 0 10px;
	padding-bottom:10px;
}


/*----- SIDEBARS -----*/
.sidebar-widget li {
   /* border-bottom: 1px solid #EEEEEE; */
   font-size: .95em;
   font-weight: 500;
   padding: 6px 0;
}
.sidebar-widget li a{
}
.widget_recent_entries{
background-color: #F7F7F7;
padding: 20px 20px 25px;
}
.sidebar-widget .widget_recent_entries li {
border-bottom: 1px dotted #ccc;
padding: 10px 0;
}
/* FORM KOMENTAR */
.comments{
	float:left;
	margin-bottom:30px;
	width:100%
}
.comments > h2 {
   font-size: 1.4em;
   font-weight: 500;
   margin: 0 0 20px;
}
.comments h3 {
	color:#444;
   font-size: 1.5em;
   font-weight: 500;
   margin: 20px 0 5px;
}
.form-submit > input[type="submit"] {
   background-color: #4496D2;
   border: medium none rgba(0, 0, 0, 0);
   color: #fff;
   font-weight: 300;
   padding: 8px 20px;
	width:auto;
}
.form-submit > input:hover,
.form-submit > input:focus,
.form-submit > input:active{
   background-color: #2C7CB7;
}
.comments label {
   display: block;
}
.comments textarea,
.comments input{
	border: 1px solid #ccc;
	color:#666;
	font-weight:300;
	padding: 15px;
	width: 100%;
}
.comments input,
.comments textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.comments textarea {
	height:250px
}
.comments input:focus,
.comments textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.comments > ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.comments li {
   border: 1px solid #eee;
   padding: 20px;
}
.comments ul li ul {
   list-style-type: none;
	margin:0;
	padding:0;
}
.reply {
   margin-bottom: 30px;
   margin-top: 30px;
   text-align: right;
}
.comment-reply-link {
   background-color: #5CB85C;
   color: #fff;
   margin: 20px 0;
   padding: 5px 15px;
}
img.avatar {
	border:1px solid #ddd;
	border-radius: 500px;
   display: inline-block;
   float: left;
   height: auto;
   margin: 0 20px 0 0;
	padding:10px;
   width: 80px;
}
.comment-meta {
   margin-bottom: 50px;
}
cite.fn {
   font-weight: 700;
	text-transform: capitalize;
}
.alert{
	border-radius:0;
	padding:20px;
}
.alert h2,
.alert h3{
   font-size: 1.2em;
   font-weight: 300;
   margin: 0;
   padding: 0;
}
.alert-warning{
color:#A47E3C;
font-size:1.2em;
margin:30px 0 0
}
.alert.alert-warning > h3 {
    font-weight: 700;
    margin: 0 0 10px;
}
.alert.alert-warning p:last-child {
    margin: 20px 0 0;
}
.pagination {
	margin:0;
}
.page-numbers {
   background-color: #96C4E6;
	color:#fff;
   font-weight: 300;
   padding: 5px 10px;
}
.page-numbers:hover,
.page-numbers:focus,
.page-numbers:active{
   background-color: #4496D2;
	color:#fff;
}
.current {
   background-color: #4496D2;
   color: #fff;
   font-weight: 700;
}
.catname {
	display: inline-block;
	font-size: .85em;
	line-height:2;
}
.catname > a {
	background-color: #FDAC04;
   color: #fff;
   padding: 8px 15px;
}
.catname > a:hover,
.catname > a:focus,
.catname > a:active{
   background-color: #E69C02;
   color: #fff;
}

.title-archive {
   background-color: #FDAC04;
   color: #fff;
   display: inline-block;
   font-size: 0.85em;
   line-height: 2;
   padding: 5px 15px;
}
#toplink{
	background-color:#333;
	color:#fff;
	filter: alpha(opacity=30);
	opacity: 0.3;
	padding: 5px 10px;
	position:absolute;
	right: 0;
	bottom:0;
	transition: all 0.15s ease-in 0.15s;
	z-index: 9999;
	zoom: 1;
}
#toplink:hover,
#toplink:focus,
#toplink:active{
	color:orange;
	filter: alpha(opacity=100);
	opacity: 1;
}

/* WIDGET EVENT MANAGER */
.widget_em_widget{
	border:1px solid #ddd;
}
.widget_em_widget h3{
	background-color:#F5F5F5;
	border-bottom: 1px solid #ddd;
	margin:0;
	padding: 10px 0 10px 15px
}
.widget_em_widget ul,
.widget_em_widget ul li ul{
	margin:0;
	padding:0;
}
.widget_em_widget ul li ul li {
   /* border-bottom: medium none; */
	padding:0;
}
.widget_em_widget ul li {
	border-bottom:1px solid #ddd;
   margin:0;
	padding:15px
}
.widget_em_widget ul li:last-child {
	border-bottom:none;
}
.widget_em_widget p {
   color: #666666;
   font-weight: 300;
   margin: 0;
   padding: 0;
}
.widget_em_widget a{
   font-weight: 500;
}
.standout {
   color: #222;
	text-transform:capitalize
}

/* TWITTER TIMELINE */
iframe.twitter-timeline {
   width: 100% !important;
}
/* Custom style untuk galleri pada kategori berita foto */
.berita-foto-page .gallery{
   border: 1px solid #eee;
}
.berita-foto-page .gallery h3{
	font-weight:500;
   margin: 10px 0 0 10px
}

/* Custom style untuk halam Contact */
.panel input[type="text"], .panel input[type="email"], .panel textarea {
	background-color:#fff;
   border: 1px solid #ccc;
   border-image: none;
   border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
   padding: 8px;
   width: 100%;
}
.panel input[type="submit"]{
	background-color:#4496D2;
   border: 1px solid transparent;
   border-image: none;
   border-radius: 4px;
	color:#fff;
   padding: 8px 20px;
}
.panel input[type="submit"]:hover,
.panel input[type="submit"]:focus,
.panel input[type="submit"]:active{
	background-color:#2C7CB7;
   padding: 8px 20px;
}
.panel input[type="text"]:focus, .panel input[type="email"]:focus, .panel textarea:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* WIDGET CALENDAR*/
table#wp-calendar {
   border-collapse: collapse;
   width: 100%;
}
table#wp-calendar caption {
   font-weight: 500;
   margin-bottom: 5px;
}
table#wp-calendar thead tr th {
	background-color:#96C4E6;
   border: 1px solid #fff;
	color:#fff;
   padding: 5px;
   text-align: center;
}
table#wp-calendar tbody td {
	background-color:#EAF3FA;
   border: 1px solid #fff;
   padding: 5px;
   text-align: center;
}
td#today {
   font-weight: 700;
}/*
	/*
	Theme Name: Tenarian
	Template URI : http://7infomedia.blogspot.com/
	Description: Templat Wordpress responsif menggunakan framework HTML5 BLANK (http://html5blank.com), Twitter Bootstrap 3 (http://getbootstrap.com/), serta icon dari Font Awesome (http://fortawesome.github.io/Font-Awesome/icons/).
	Version: 2.0
	Author: Anis Fahrunisa (fildrand@gmail.com) 
	Author URI: http://7infomedia.blogspot.com/
	Tags: Blank, HTML5, CSS3, Bootsrap, font-awesome
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,500);

/* global box-sizing */
*,
*:after,
*:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}
.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
html{
	background:#eee url(img/grid.png)left top;
}
body{ 
	background-color:transparent;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	margin:0;
	padding:0;
}
h1{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
p{}
a {
	color:#1982D1;
	text-decoration:none;
}
a:hover,
a:focus,
a:active{
	color:#888;
	text-decoration:none;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	/* border:1px solid #DA6D0D; */
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
.wraper{
	background-color:#fff;
	box-shadow: 0 5px 5px rgba(140, 140, 140, 0.75);
	max-width:1100px;
	margin:0 auto;
	overflow:hidden;
}
.container{
   max-width: 650px;
}
.container .col-md-8 .container{
   padding-left: 0;
   padding-right: 0;
}
.branding{
	margin-bottom:20px;
	position:relative;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color:#1D5278;
}
.hero {
	/* background: #CDF2F2;*/
        background:url(img/hero-bg.jpg) left top repeat-x; 
	overflow:hidden;
	position:relative;
	min-height:120px;
}
.main{}

@media only screen and (min-width:240px) {
	.container{
		padding-right:0;
		padding-left:0;	
	}
	.page > .container{
		padding-right:15px;
		padding-left:15px;
	}
	.top-nav-wrap{
		font-size:1em;
		margin-top:200px;
		overflow:hidden;
		padding: 0 15px;
		width:100%;
	}
	.navbar,
	.hero{
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
	.hero{
		top:40px;
	}
	.hero img{
		margin: 30px auto 0;
		padding-right:15px;
		padding-left:15px;
		width:100%;
	}
	.searchform{
		margin:10px auto 20px;
		padding-right:15px;
		padding-left:15px;
		width:100%;
	}
	.navbar-toggle{
		border-radius:0;
		margin-right:5px;
	}
	.navbar-default .navbar-toggle{
		border-color:transparent;
	}
	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		border-color: transparent;
	}
	.navbar-collapse{
		box-shadow:;
		padding-left:15px;
	}
	.navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.navbar-default .navbar-nav > li:last-child > a {
		border-bottom: none;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #22608D;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
		background-color:#1D5278;
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color: #D3E6F4;
		color: #333;
	}
	.carousel .item{
		height: 140px;
	}
	.carousel-indicators {
		bottom:15px;
	}
	.tinynav {
		background-color:#eee;
		border:transparent;
		display: block;
		font-size: 1.2em;
		margin: 0 auto 20px;
		padding: 5px 0.5em;
		width: 100%;
	}
	#menu-menu-atas {
		display: none;
	}
	.cp-wrap{
		border-bottom: 1px solid #EEEEEE;
		margin:0 auto 10px;
		padding:0;
		overflow:hidden;
		width:100%;
	}
	.cp-wrap li {
    	display: block;
    	padding-bottom: 10px;
		text-align: center;
		width: 100%;
	}
	.social-buttons{
		display:inline-block;
		text-align:center;
		overflow: hidden;
		width:100%;
	}
	.social-buttons li{
		float: left;
		font-size:20px;
		left: -50%;
		position: relative;
		padding: 0;
		margin: 0;
	}
	.social-buttons ul{
		list-style: none;
		padding: 0;
		margin: 0;
		float: left;
		left: 50%;
		position: relative;
		text-align: center;
	}
	.double .container .col-md-6{
		display:block;
		float:none;
		padding-right:0;
		padding-left:0;
		width:100% !important;
	}
	.double .container .col-md-6 .content img{
		max-width:90%
	}
	.double{
		margin: 0 auto 30px auto
	}
	#double-1,
	#double-2{
		width:100%;
	}
	.triple{
		margin: 0 auto 30px auto
	}
	#triple-1,
	#triple-2,
	#triple-3{
		width:100%;
	}
	.testimony{
		margin-top:50px;
	}
	.triple img{
		margin-bottom:6px;
	}
	.testimony img{
		float:left;
		margin:5px 10px 0 0;
	}
	.testimony p{
		margin:20px 0 0;
	}
	p#breadcrumbs{
		font-size: 0.9em;
		margin: 0;
		padding:8px 15px;
	}
	.berita-foto-page .gallery dl.gallery-item {
		margin-bottom: 0;
		padding-bottom: 10px;
		width:50% !important;
	}
	.berita-foto-page .gallery dl.gallery-item dt img{
		height: auto !important
	}
}
@media only screen and (min-width:320px) {	
	.top-nav-wrap{
		margin-top:220px;
	}
	.carousel .item{
		height: 160px;
	}
	.carousel-indicators {
		bottom:10px;
	}
	.double .container .col-md-6{
		float:left;
		padding-right:0;
		padding-left:0;
		width:50%;
	}
	.double .col-md-6.col-1 {
		padding-right: 2%;
	}
	.double .col-md-6.col-2 {
		padding-left: 2%;
	}
	.double{
		min-height:80px;
		margin: 0 auto 20px auto
	}
	#double-1,
	#double-2{
		width:100%;
	}
	#double-2{
		margin-bottom: 50px
	}
	#double-1 img,
	#double-2 img{
		float:left;
		margin: 5px 10px 0 0;
		width:120px;
	}
	.triple{
		margin: 0 auto 20px auto;
		min-height:80px;
	}
	#triple-3{
		margin-bottom: 50px
	}
	#triple-1 img,
	#triple-2 img,
	#triple-3 img{
		float:left;
		margin: 5px 10px 5px 0;
		width: 120px;
	}
}
@media only screen and (min-width:480px) {
	.top-nav-wrap{
		margin-top:260px;
	}
	.hero img{
		padding-right:50px;
		padding-left:50px;
	}
	.carousel .item{
		height: 220px;
	}
	.double{
		min-height:100px;
	}
	#double-1 img,
	#double-2 img{
		width:150px;
	}
	.triple{
		min-height:100px;
	}
	#triple-1 img,
	#triple-2 img,
	#triple-3 img{
		width: 150px;
	}
	.berita-foto-page .gallery dl.gallery-item {
		width:25% !important;
	}
}
@media only screen and (min-width:640px) {
	.hero img{
		padding-right:90px;
		padding-left:90px;
	}
	.carousel .item{
		height: 250px;
	}
	.carousel-indicators {
		bottom:5px;
	}
	.double{
		min-height:120px;
	}
	#double-1 img,
	#double-2 img{
		width: 200px;
	}
	.triple{
		min-height:120px;
	}
	#triple-1 img,
	#triple-2 img,
	#triple-3 img{
		width: 200px;
	}
	
}
@media only screen and (min-width:768px) {
	.branding .container .col-md-8,
	.branding .container .col-md-4{
		padding-right:0;
		padding-left:0;
	}
	.top-nav-wrap{
		float:right;
		font-size:.9em;
		overflow:hidden;
		margin:10px 0;
		padding: 0;
		width:100%;
	}
	.cp-wrap{
		border-bottom: none;
		float:left;
		margin:0 0 10px;
		padding:0;
		overflow:hidden;
		width:auto;
	}
	.cp-wrap li {
    	display: inline-block;
		float:left;
    	padding-bottom: 0;
		padding-right:20px;
		text-align: left;
		width: auto;
	}
	.social-buttons{
		display:inline-block;
		float:right;
		margin: 0 0 10px;
		text-align:right;
		overflow: hidden;
		width:200px;
	}
	.social-buttons li{
		right: left;
		font-size:14px;
		left: 0;
		position: relative;
		padding: 0;
		margin: 0;
	}
	.social-buttons ul{
		list-style: none;
		padding: 0;
		margin: 0;
		float: right;
		left: 0;
		position: block;
		text-align: left;
	}
	.tinynav{
		display: none;
	}
	#menu-menu-atas {
		display: block;
		float:right;
	}
	.navbar-collapse{
		padding-left:0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #444;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
		background-color:#4396D2;
		color: #fff;
	}
	.navbar,
	.hero{
		position:relative;
		top:0;
		left:0;
		width:100%;
	}
	.hero{
		top:0
	}
	.hero img{
		display:inline-block;
		float:left;
		margin-bottom:24px;
		padding-right:0;
		padding-left:20px;
		width: 400px;
	}
	.searchform{
		float:right;
		margin: 50px 0 0 0;
		padding-right:25px;
		padding-left:15px;
		width:260px;
	}
	.container{
		padding-right:15px;
		padding-left:15px;	
	}
	.branding{
		margin-right:15px;
		margin-left:15px;
	}
	.carousel .item{
		height: 320px;
	}
	.carousel-indicators {
		bottom:5px;
	}
	.double{
		min-height:120px;
	}
	#double-1,
	#double-2{
		float:left;
		margin-right: 2%;
		width: 48%;
	}
	#double-2{
		float:right;
		margin-right: 0;
		margin-left: 2%;
	}
	#double-1 img,
	#double-2 img{
		float:left;
		margin: 0;
		width: 100%;
	}
	.triple{
		min-height:120px;
	}
	#triple-1,
	#triple-2,
	#triple-3{
		float:left;
		margin-right: 2%;
		width: 32%;
	}
	#triple-3{
		float:right;
		margin-right: 0;
	}
	#triple-1 img,
	#triple-2 img,
	#triple-3 img{
		float:left;
		margin: 0 0 5px 0;
		width: 100%;
	}
	p#breadcrumbs {
		padding: 8px 0;
	}
}

@media only screen and (min-width:1024px) {
	.hero img{
		display:inline;
		margin-left:10px;
		width:500px;
	}
	.searchform{
		margin: 60px 0 0 0;
	}
	.testimony{
		margin-top:0;
	}
}
@media only screen and (min-width:960px) {
}
@media only screen and (min-width:1200px) {
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {
}
/*----- CAROUSEL -----*/	
.carousel {
  margin-bottom: 20px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
.hero h1 a{
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	transition: all 0.15s ease-in 0.15s;
}
.hero h1 a:hover,
.hero h1 a:focus{
	color:#FFEF77;
}
footer{
	border-top: 1px solid #e5e5e5;
	color: #888;
	margin: 30px 15px 0;
	overflow:hidden;
	padding: 20px 0;
	position:relative;
}
.container > footer .container{
	padding-right:0;
	padding-left:0;
}
footer p{
	font-size:.9em;
	margin:10px 0 0;
	padding:0;
}
footer p:last-child{
	margin:0;
}
footer img{
	float: right;
	width: 280px;
}
footer a{
	filter: alpha(opacity=80);
	opacity: 0.8;
	transition: all 0.15s ease-in 0.15s;
	zoom: 1;
}
footer a:hover,
footer a:hover,
footer a:active{
	filter: alpha(opacity=100);
	opacity: 1;
}
.footer .container .col-md-6{
	padding-right:0;
	padding-left:0;
}
.footer p span{
	font-weight:700
}
.top-nav,
.footer-nav{
	margin:0;
	padding:0;
}
.top-nav li,
.footer-nav li{
   display: inline-block;
   float: left;
	font-size:1em;
   padding: 5px 0 5px 20px;
}
.top-nav li a{
	color: #888;
}
.top-nav li a:hover,
.top-nav li a:focus{
	color: #444;
}
.footer-nav li{
   padding: 5px 20px 5px 0;
}
.cp-wrap li span{
	color:#333;
	font-weight: 500
}
.social-buttons li a{
	color:#666;
	filter: alpha(opacity=50);
	opacity: 0.5;
	transition: all 0.15s ease-in 0.15s;
	zoom: 1;
}
.social-buttons li a:hover,
.social-buttons li a:focus{
	filter: alpha(opacity=100);
	opacity: 1;
}
.social-buttons li.facebook a:hover,
.social-buttons li.facebook a:focus{
	color:#4C70BA;
}
.social-buttons li.gplus a:hover,
.social-buttons li.gplus a:focus{
	color:#C0181D;
}
.social-buttons li.twitter a:hover,
.social-buttons li.twitter a:focus{
	color:#55ACEE;
}
.social-buttons li.flickr a:hover,
.social-buttons li.flickr a:focus{
	color:#F46C91;
}
.social-buttons li.rss a:hover{
	color:#F2AE31;
}
.navbar{
	border:none;
	border-radius:0;
	margin-bottom:0;
	min-height:40px;
}
.navbar-default {
   background-color: #276EA2;
	border-width:0;
}
.navbar-collapse{
}
.navbar-nav > li > a {
	color:#ADB7D0;
   padding: 10px 15px;
}
.navbar-default .navbar-nav > li > a {
   color: #fff;
}
.navbar-default .navbar-nav > li a:hover, 
.navbar-default .navbar-nav >  li a:focus {
   background-color: #4396D2;
   color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
   background-color: #F4B627;
   color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
   border-bottom-color: #ADB7D0;
   border-top-color: #ADB7D0;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
   background-color: #4396D2;
   color: #FFFFFF;
}
.dropdown-menu{
	border:none;
	border-radius:0;
	padding-top:15px;
	padding-bottom:15px;
}
.dropdown-menu > li > a {
   color: #333333;
   font-weight: normal;
   padding: 5px 20px;
}
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
   background-color: #D3E6F4;
	color:#444;
}

/* Header untuk halaman selain frontpage */
.tag-title {
	font-weight: 500;
font-size: 1.2em;
}
.post-tags {
    font-size: 85%;
    line-height: 2.4;
}
.post-tags a {
    background-color: #aaa;
    border-radius: 3px;
    color: #fff;
    padding: 2px 6px;
}
.post-tags a:hover{
background-color:#888
}

.title-archive {
   font-size: 0.9em;
   text-transform: capitalize;
}

.post-categories {
   list-style-type: none;
   margin: 10px 0 0;
   padding: 0;
}
.post-categories > li {
   float: left;
   font-size: 0.4em;
   font-weight: lighter;
   letter-spacing: 0;
	line-height:1.6;
   padding: 6px 0;
}
.post-categories > li a{
   background-color: #FDAC04;
	color:#fff;
   padding: 7px 15px;
}
.post-categories > li a:hover,
.post-categories > li a:focus,
.post-categories > li a:active{
   background-color: #E69C02;
	color:#fff;
}
.breadcrumb{
	background-color: #f7f7f7;
	border-radius:0;
	/* border-top: 1px solid #eee; */
	/* border-bottom: 1px solid #eee; */
	color:#777;
	margin:20px 15px 30px;
	padding:0;
}
.fluid-wrapper {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
   height: 0;
}
.fluid-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: none;
}
.video-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px; height: 0; overflow: hidden;
} 
.video-container iframe,
.video-container object,
.video-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/*------------------------------------*\
   MISC
\*------------------------------------*/

::selection {
	background:#BAE6ED;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#BAE6ED;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#BAE6ED;
	color:#FFF;
	text-shadow:none;
}
   
/*------------------------------------*\
   WORDPRESS CORE
\*------------------------------------*/
.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.size-full {
   max-width: 100%;
   width: auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}

/* FONT AWESOME CUSTOM COLOR */
.red{
	color: #D73820;
}
.deep-red{
	color: #C0181D;
}
.pink{
	color: #FB455D;
}
.blue{
	color: #3B5998;
}
.light-blue{
	color: #55ACEE;
}
.orange{
	color: #F2AE31;
}
.green{
	color: #5CB85C;
}
.grey{
	color:#888
}

/* SEARCHFORM */
input.input-search {
	background: #fff;
	border: transparent;
	border-radius: 20px;
	-moz-border-radius: 20px;
	color:#999;
	font-size: 14px;
	font-weight:300;
	line-height: 1.2em;
	padding: 6px;
}
.submit-search {
	background-color:transparent;
	border: transparent;
	padding:5px 5px 5px 10px;
}
.hero .searchform {
	/* margin:42px 20px 20px 0; */
}
.hero .searchform form {
	border-radius: 20px;
	-moz-border-radius: 20px;
	background-color:#fff;
	overflow:hidden;
	padding:0;
}
.hero .input-search {
	/* float: right; */
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
}

/*----- TOMBOL MENU COLLAPASE -----*/
.navbar-default .navbar-toggle .icon-bar {
   background-color: #FFFFFF;
}
.navbar-toggle .icon-bar {
   border-radius: 0;
   display: block;
   height: 3px;
   width: 25px;
}

/*----- MISC -----*/
#top-link{
	display:none; 
	position:fixed; 
	right:5px; 
	bottom:5px; 
	background-color: #666;
	color:#ccc;
	padding: 4px 8px;
}
.top-link:hover{
	background-color: #222;
	color:#fff;
}

/* WIDGET */
.sidebar-widget div{
	margin-bottom:20px
}
.sidebar-widget h3 {
    color: #444444;
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 0 10px;
}
.sidebar-widget ul,
.sidebar-widget ol{
	list-style-type:none;
	margin:0;
	padding:0;
}
.panel,
.panel-heading{
	border-radius:0;
}
.panel-default .panel-heading h3,
.panel-primary .panel-heading h3 {
   color: #fff;
   font-size: 1.3em;
   font-weight: 400;
   margin: 0;
}
.panel-default .panel-heading h3{
	color:#444
}
.panel-heading h3 a{
   color: #fff;
}
.panel-heading h3 a:hover,
.panel-heading h3 a:focus,
.panel-heading h3 a:active{
   color: #A6C8E6;
}
/* BERITA FOTO */
.btn{
	font-weight:300
}
.btn-primary{
	/* background-color:#428BCA; */
	/* border-color:#428BCA; */
}
.btn-warning{
	background-color:#F18100;
	border-color:#F18100;
}
.btn-default{
	border-color:transparent;
	color:#444;
}
.btn-default:hover,
.btn-default:focus{
	background-color:#fff;
	border-color:transparent;
	color:#000;
}
.btn-square{
	border-radius:0
}

/*----- POST STYLE ------*/
.block-title{
	color:#444;
	font-size:1.5em;
	font-weight:500;
   margin: 0 0 10px;
}
/*heading untuk halaman kategori, arsip, tag, dan hasil pencarian */
article h3 {
   font-size: 1.3em;
   margin: 20px 0 5px;
}
article p{
	line-height:1.6
}
.archive-title{}
.content{
	margin:0 0 30px;
}
.entry-header{
}
.entry-header > h3 {
   font-size: 1.5em;
   margin: 0;
}
.entry-header-list{
	margin:30px 0 0
}
.entry-header-page{
	margin:0 0 30px
}
.entry-content{
	margin: 10px 0 30px;
}
.entry-content-single{
	margin: 30px 0;
}
.entry-footer{
	float: left;
   margin: 20px 0 0;
   width: 100%;
}
.entry-date,
.entry-author{
	color:#999;
	font-size: .9em;
	margin: 10px 0 0;
}
.entry-title{
	font-size:1.2em;
	font-weight:700
}
.triple .entry-title{
   font-size: 0.9em;
   font-weight: 500;
}
.readmore {
	font-weight: 300;
}

/*----- TESTIMONI ALUMNI -----*/
.testimony {
	/* background-color:#f9f9f9; */
	color: #555;
	line-height:1.5;
   margin-bottom: 30px;
	overflow:hidden;
	padding-bottom:10px;
	border-bottom: 1px solid #eee;
}
.testimony h3 {
	border-bottom: 1px solid #eee;
	color:#444;
   font-size: 1.5em;
   font-weight: 500;
   margin: 0 0 10px;
	padding-bottom:10px;
}


/*----- SIDEBARS -----*/
.sidebar-widget li {
   /* border-bottom: 1px solid #EEEEEE; */
   font-size: .95em;
   font-weight: 500;
   padding: 6px 0;
}
.sidebar-widget li a{
}

/* FORM KOMENTAR */
.comments{
	float:left;
	margin-bottom:30px;
	width:100%
}
.comments > h2 {
   font-size: 1.4em;
   font-weight: 500;
   margin: 0 0 20px;
}
.comments h3 {
	color:#444;
   font-size: 1.5em;
   font-weight: 500;
   margin: 20px 0 5px;
}
.form-submit > input[type="submit"] {
   background-color: #4496D2;
   border: medium none rgba(0, 0, 0, 0);
   color: #fff;
   font-weight: 300;
   padding: 8px 20px;
	width:auto;
}
.form-submit > input:hover,
.form-submit > input:focus,
.form-submit > input:active{
   background-color: #2C7CB7;
}
.comments label {
   display: block;
}
.comments textarea,
.comments input{
	border: 1px solid #ccc;
	color:#666;
	font-weight:300;
	padding: 15px;
	width: 100%;
}
.comments input,
.comments textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.comments textarea {
	height:250px
}
.comments input:focus,
.comments textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.comments > ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.comments li {
   border: 1px solid #eee;
   padding: 20px;
}
.comments ul li ul {
   list-style-type: none;
	margin:0;
	padding:0;
}
.reply {
   margin-bottom: 30px;
   margin-top: 30px;
   text-align: right;
}
.comment-reply-link {
   background-color: #5CB85C;
   color: #fff;
   margin: 20px 0;
   padding: 5px 15px;
}
img.avatar {
	border:1px solid #ddd;
	border-radius: 500px;
   display: inline-block;
   float: left;
   height: auto;
   margin: 0 20px 0 0;
	padding:10px;
   width: 80px;
}
.comment-meta {
   margin-bottom: 50px;
}
cite.fn {
   font-weight: 700;
	text-transform: capitalize;
}


.alert{
	border-radius:0;
	padding:20px;
}
.alert h2,
.alert h3{
   font-size: 1.2em;
   font-weight: 300;
   margin: 0;
   padding: 0;
}
.alert-warning{
	margin:30px 0 0
}
.pagination {
	margin:0;
}
.page-numbers {
   background-color: #96C4E6;
	color:#fff;
   font-weight: 300;
   padding: 5px 10px;
}
.page-numbers:hover,
.page-numbers:focus,
.page-numbers:active{
   background-color: #4496D2;
	color:#fff;
}
.current {
   background-color: #4496D2;
   color: #fff;
   font-weight: 700;
}
.catname {
	display: inline-block;
	font-size: .85em;
	line-height:2;
}
.catname > a {
	background-color: #FDAC04;
   color: #fff;
   padding: 8px 15px;
}
.catname > a:hover,
.catname > a:focus,
.catname > a:active{
   background-color: #E69C02;
   color: #fff;
}

.title-archive {
   background-color: #FDAC04;
   color: #fff;
   display: inline-block;
   font-size: 0.85em;
   line-height: 2;
   padding: 5px 15px;
}
#toplink{
	background-color:#333;
	color:#fff;
	filter: alpha(opacity=30);
	opacity: 0.3;
	padding: 5px 10px;
	position:absolute;
	right: 0;
	bottom:0;
	transition: all 0.15s ease-in 0.15s;
	z-index: 9999;
	zoom: 1;
}
#toplink:hover,
#toplink:focus,
#toplink:active{
	color:orange;
	filter: alpha(opacity=100);
	opacity: 1;
}

/* WIDGET EVENT MANAGER */
.widget_em_widget{
	border:1px solid #ddd;
}
.widget_em_widget h3{
	background-color:#F5F5F5;
	border-bottom: 1px solid #ddd;
	margin:0;
	padding: 10px 0 10px 15px
}
.widget_em_widget ul,
.widget_em_widget ul li ul{
	margin:0;
	padding:0;
}
.widget_em_widget ul li ul li {
   /* border-bottom: medium none; */
	padding:0;
}
.widget_em_widget ul li {
	border-bottom:1px solid #ddd;
   margin:0;
	padding:15px
}
.widget_em_widget ul li:last-child {
	border-bottom:none;
}
.widget_em_widget p {
   color: #666666;
   font-weight: 300;
   margin: 0;
   padding: 0;
}
.widget_em_widget a{
   font-weight: 500;
}
.standout {
   color: #222;
	text-transform:capitalize
}

/* TWITTER TIMELINE */
iframe.twitter-timeline {
   width: 100% !important;
}
/* Custom style untuk galleri pada kategori berita foto */
.berita-foto-page .gallery{
   border: 1px solid #eee;
}
.berita-foto-page .gallery h3{
	font-weight:500;
   margin: 10px 0 0 10px
}

/* Custom style untuk halam Contact */
.panel input[type="text"], .panel input[type="email"], .panel textarea {
	background-color:#fff;
   border: 1px solid #ccc;
   border-image: none;
   border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
   padding: 8px;
   width: 100%;
}
.panel input[type="submit"]{
	background-color:#4496D2;
   border: 1px solid transparent;
   border-image: none;
   border-radius: 4px;
	color:#fff;
   padding: 8px 20px;
}
.panel input[type="submit"]:hover,
.panel input[type="submit"]:focus,
.panel input[type="submit"]:active{
	background-color:#2C7CB7;
   padding: 8px 20px;
}
.panel input[type="text"]:focus, .panel input[type="email"]:focus, .panel textarea:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* WIDGET CALENDAR*/
table#wp-calendar {
   border-collapse: collapse;
   width: 100%;
}
table#wp-calendar caption {
   font-weight: 500;
   margin-bottom: 5px;
}
table#wp-calendar thead tr th {
	background-color:#96C4E6;
   border: 1px solid #fff;
	color:#fff;
   padding: 5px;
   text-align: center;
}
table#wp-calendar tbody td {
	background-color:#EAF3FA;
   border: 1px solid #fff;
   padding: 5px;
   text-align: center;
}
td#today {
   font-weight: 700;
}

/* Tab Prodi 17Feb2016 */
.prodi-tabs {margin-bottom: 10px;color: #FFF;background-color: #276EA2;}
.prodi-tab {list-style: none;padding-left: 0;}
.prodi-tab > li {float: left;padding: 8px 15px;cursor: pointer;}
.prodi-tab > li:hover {background-color: #4396D2;}
.prodi-tab > li.active {background-color: #F4B627;}
.prodi-tab:after {display: block;content: "";clear: both;}
.prodi-ctn {padding: 10px 15px;}

/* CSS Numpang 04-04 */
.xl6319426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:silver;
	mso-pattern:black none;
	white-space:nowrap;}
.xl6419426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6519426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6619426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6719426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6819426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6919426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7019426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7119426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7219426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7319426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7419426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7519426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7619426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7719426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7819426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7919426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8019426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8119426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8219426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8319426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8419426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8519426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8619426
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}